langchain-community 
langchain-experimental 
neo4j 
ollama 
# ticket-text
pandas
langchain-core
langgraph
python-dotenv
neo4j-graphrag 
neo4j-agent-memory==0.5.0
litellm
sentence-transformers
pydantic-ai
spacy
gliner
flask
pytest
pytest-asyncio
